.header {
  position: fixed;
  width: 100%;
  background-color: #DFCCC2;
  z-index: 100;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: end;
  gap: 20px;
}
@media screen and (max-width: 768.98px) {
  .header__container {
    grid-template-columns: auto auto 1fr;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 769px) {
  .header__container {
    padding-top: 45px;
    padding-bottom: 32px;
  }
}

.header__logo {
  transform: translate(0px, -100%);
  opacity: 0;
}
@media screen and (max-width: 384.98px) {
  .header__logo {
    width: 100px;
  }
}

.header__logo._active {
  transform: translate(0px, 0px);
  transition: all 0.6s ease 0.6s;
  opacity: 1;
}

.header__list {
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (max-width: 768.98px) {
  .header__list {
    text-align: left;
  }
}
@media screen and (min-width: 769px) {
  .header__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
  }
}
@media screen and (min-width: 1100px) {
  .header__list {
    -moz-column-gap: 84px;
         column-gap: 84px;
  }
}

@media screen and (max-width: 768.98px) {
  .header__item:not(:last-child) {
    margin-bottom: 19px;
  }
}

.header__link {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.5px;
  transition: color 0.3s;
}
.header__link:hover, .header__link:focus {
  color: #F95454;
}

.header__button {
  display: inline-flex;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 769px) {
  .header__button {
    display: none;
  }
}

.header__button-burger {
  fill: #ffffff;
}

.header__button .header__button-close {
  fill: #ffffff;
  display: none;
}

.header__button.is-open .header__button-close {
  display: block;
  fill: #ffffff;
}

.header__button.is-open .header__button-burger {
  display: none;
}

.header__menu {
  justify-self: start;
}
@media screen and (max-width: 768.98px) {
  .header__menu {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: -100%;
    z-index: 1;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: #DFCCC2;
    padding: 15px;
  }
  .header__menu.is-open {
    opacity: 1;
    left: 0px;
    transition: left 0.4s;
  }
}

.hero {
  padding-top: 100px;
}
@media screen and (max-width: 640px) {
  .hero {
    padding-top: 70px;
  }
}

.hero__container {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  height: 643px;
}
@media screen and (max-width: 900px) {
  .hero__container {
    height: 843px;
  }
}

.hero__img {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 15px;
}
@media screen and (min-width: 1000px) {
  .hero__title {
    position: absolute;
    top: 124px;
    left: -37px;
    z-index: 6;
    max-width: 399px;
  }
}

.hero__text {
  margin-bottom: 15px;
}
@media screen and (min-width: 1000px) {
  .hero__text {
    position: absolute;
    top: 352px;
    right: -10px;
    z-index: 6;
    max-width: 194px;
  }
}

.hero__img-main {
  position: absolute;
  top: 71px;
  right: 164px;
  z-index: 4;
}
@media screen and (max-width: 770px) {
  .hero__img-main {
    right: 120px;
  }
}
@media screen and (max-width: 650px) {
  .hero__img-main {
    top: 173px;
    right: 0px;
    left: 50px;
  }
}
@media screen and (max-width: 500px) {
  .hero__img-main {
    left: 0px;
  }
}

.hero__img-circle {
  position: absolute;
  top: 80px;
  right: -15px;
  z-index: 5;
}
@media screen and (max-width: 850px) {
  .hero__img-circle {
    max-width: 170px;
    right: 15px;
  }
}

.hero__svg-decor01 {
  position: absolute;
  top: -6px;
  right: 46px;
  z-index: 3;
}

.hero__svg-decor02 {
  position: absolute;
  top: 394px;
  right: 82px;
  z-index: 3;
}

.hero__svg-decor03 {
  position: absolute;
  top: 389px;
  right: 468px;
  z-index: 3;
}

.hero__img {
  transform: translate(0px, -50px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .hero__img {
    transform: translate(150px, 0px);
  }
}

.hero__title {
  transform: translate(-150px, 0px);
  opacity: 0;
}

.hero__text {
  transform: translate(150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .hero__text {
    transform: translate(-150px, 0px);
  }
}

.hero__title._active,
.hero__text._active,
.hero__img._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.hero__title._active {
  transition-delay: 1s;
}

.hero__text._active {
  transition-delay: 1s;
}

.hero__img._active {
  transition-delay: 0.5s;
}

.focused {
  position: relative;
}
@media screen and (min-width: 768px) {
  .focused {
    height: 750px;
    padding-top: 24px;
  }
}

.focused__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .focused__container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1240px;
    margin: 0 auto;
  }
}

.focused__content {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .focused__content {
    position: relative;
    left: 10px;
    max-width: 395px;
    margin-top: 145px;
    margin-bottom: 0;
    z-index: 2;
    padding: 0 10px 0 10px;
  }
}
@media screen and (min-width: 1100px) {
  .focused__content {
    left: -26px;
  }
}

.title__medium {
  margin-bottom: 20px;
}

.focused__img {
  position: relative;
  z-index: 2;
}

.focused__svg01 {
  position: absolute;
  top: 150px;
  left: -170px;
  z-index: 0;
}

.focused__svg02 {
  position: absolute;
  left: 549px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .focused__svg02 {
    top: 242px;
  }
}
@media screen and (max-width: 767.98px) {
  .focused__svg02 {
    left: 249px;
    bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .focused__img01 {
    position: absolute;
    z-index: 1;
    justify-self: start;
    z-index: 0;
  }
}

@media screen and (min-width: 768px) {
  .focused__img02 {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-top: 165px;
    z-index: 0;
  }
}

.focused__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 160px;
  background-color: #C5CEBD;
}

.focused__img01 {
  transform: translate(-150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .focused__img01 {
    transform: translate(150px, 0px);
  }
}

.focused__content {
  transform: translate(0px, 50px);
  opacity: 0;
}

.focused__img02 {
  transform: translate(150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .focused__img02 {
    transform: translate(-150px, 0px);
  }
}

.focused__img01._active,
.focused__content._active,
.focused__img02._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.focused__img01._active {
  transition-delay: 0.5s;
}

.focused__content._active {
  transition-delay: 1s;
}

.focused__img02._active {
  transition-delay: 0.5s;
}

.about {
  position: relative;
  background-color: #C5CEBD;
  height: 936px;
}
@media screen and (max-width: 768px) {
  .about {
    padding-top: 50px;
  }
}

.about__container {
  position: relative;
}

.about__img01 {
  max-width: 558px;
  position: absolute;
  top: -10px;
  left: -50px;
  z-index: 2;
}

.about__content {
  position: absolute;
  top: 148px;
  left: 442px;
  z-index: 3;
}
@media screen and (max-width: 1130px) {
  .about__content {
    top: 80px;
    left: 250px;
  }
}
@media screen and (max-width: 650px) {
  .about__content {
    top: 80px;
    left: 50px;
  }
}
@media screen and (max-width: 420px) {
  .about__content {
    top: 15px;
    left: 15px;
  }
}

.about__title {
  max-width: 402px;
  margin-bottom: 42px;
}

.about__text {
  max-width: 430px;
  padding-left: 122px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  color: #6E645F;
}
@media screen and (max-width: 1130px) {
  .about__text {
    color: #ffffff;
  }
}
@media screen and (max-width: 650px) {
  .about__text {
    padding-left: 50px;
  }
}

.about__img02 {
  position: absolute;
  top: 505px;
  right: 33px;
  z-index: 2;
}

.about__img03 {
  position: absolute;
  top: 202px;
  right: -265px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .about__img03 {
    display: none;
  }
}

.about__svg01 {
  position: absolute;
  top: 528px;
  left: 373px;
  z-index: 0;
}

.about__svg02 {
  position: absolute;
  top: 213px;
  right: -150px;
  z-index: 0;
}

.about__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 95px;
  background-color: #DFCCC2;
}

.about__img01 {
  transform: translate(-150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .about__img01 {
    transform: translate(150px, 0px);
  }
}

.about__content {
  transform: translate(0px, 50px);
  opacity: 0;
}

.about__img02,
.about__img03 {
  transform: translate(150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .about__img02,
  .about__img03 {
    transform: translate(-150px, 0px);
  }
}

.about__img01._active,
.about__content._active,
.about__img02._active,
.about__img03._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.about__img01._active {
  transition-delay: 0.5s;
}

.about__content._active {
  transition-delay: 1s;
}

.about__img02._active,
.about__img03._active {
  transition-delay: 0.5s;
}

.services {
  padding-top: 8px;
  padding-bottom: 166px;
  background-color: #DFCCC2;
}
@media screen and (max-width: 768px) {
  .services {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

.services__title {
  text-align: center;
  margin-bottom: 106px;
}
@media screen and (max-width: 768px) {
  .services__title {
    margin-bottom: 50px;
  }
}

.services__container {
  position: relative;
  gap: 15px;
  max-width: 868px;
  margin: 0 auto;
  height: 1500px;
}
@media screen and (min-width: 450px) {
  .services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 651px) {
  .services__container {
    grid-template-columns: 1fr 1fr 1fr;
    height: 869px;
  }
}
@media screen and (min-width: 450px) and (max-width: 650.98px) {
  .services__container {
    height: 900px;
  }
}
@media screen and (min-width: 1280px) {
  .services__container {
    margin: 0 191px 0 242px;
  }
}

.services__article {
  width: 190px;
}

.services__article-title {
  font-size: 30px;
  letter-spacing: -1.13px;
}
.services__article-title a:hover, .services__article-title a:focus {
  color: #F95454;
}

.service__article-link img:hover, .service__article-link img:focus {
  transform: scale(1.1);
  transition: transform 0.5s ease 0s;
}

.services__cut {
  justify-self: start;
}
@media screen and (max-width: 449.98px) {
  .services__cut {
    margin-bottom: 32px;
  }
}

.services__cut-img {
  margin-bottom: 32px;
}
@media screen and (max-width: 449.98px) {
  .services__cut-img {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 450px) {
  .services__color {
    margin-top: 146px;
    position: relative;
    justify-self: center;
  }
}

.services__color-img {
  margin-top: 32px;
}
@media screen and (min-width: 450px) {
  .services__color-img {
    position: absolute;
    z-index: 2;
  }
}
@media screen and (max-width: 449.98px) {
  .services__color-img {
    margin-top: 12px;
  }
}

.services__design {
  margin-top: 32px;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 450px) {
  .services__design {
    margin-top: 88px;
    justify-self: end;
  }
}

.services__design-img {
  margin-bottom: 32px;
  position: absolute;
  z-index: 3;
}
@media screen and (max-width: 449.98px) {
  .services__design-img {
    margin-bottom: 12px;
  }
}

.services__design-title {
  padding-top: 411px;
}

.services__content {
  position: absolute;
  top: 658px;
  left: 74px;
  z-index: 3;
  max-width: 317px;
  text-align: right;
}

.services__content-title {
  margin-bottom: 32px;
}

.services__content-link {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: -0.4px;
  transition: color 0.3s;
}
.services__content-link:hover, .services__content-link:focus {
  color: #F95454;
}

.services__decor01 {
  position: absolute;
  bottom: 43px;
  left: 392px;
  z-index: 0;
}
@media screen and (max-width: 450px) {
  .services__decor01 {
    left: 105px;
  }
}

.services__decor02 {
  position: absolute;
  top: 214px;
  right: -125px;
  z-index: 0;
}

.services__cut {
  transform: translate(-150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .services__cut {
    transform: translate(150px, 0px);
  }
}

.services__color,
.services__content {
  transform: translate(0px, 50px);
  opacity: 0;
}

.services__design {
  transform: translate(150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .services__design {
    transform: translate(-150px, 0px);
  }
}

.services__cut._active,
.services__color._active,
.services__content._active,
.services__design._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 2;
}

.services__cut._active {
  transition-delay: 0.5s;
}

.services__color._active,
.services__content {
  transition-delay: 1s;
}

.services__design._active {
  transition-delay: 0.5s;
}

.work {
  background-image: url(../images/work/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 106px;
  height: 768px;
}

.work__container {
  position: relative;
}

.work__subtext {
  position: absolute;
  top: -5px;
  right: -50px;
  transform: rotate(90deg);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1024px) {
  .work__subtext {
    right: -95px;
  }
}
@media screen and (max-width: 768px) {
  .work__subtext {
    top: 50px;
  }
}

.work__title {
  padding-top: 532px;
  margin-bottom: 16px;
  text-align: center;
}

.work__text {
  max-width: 420px;
  text-align: center;
  margin: 0 auto;
}
.work__text p {
  color: #ffffff;
}

.footer__left {
  transform: translate(-150px, 0px);
  opacity: 0;
}

.footer__right {
  transform: translate(150px, 0px);
  opacity: 0;
}

.footer__left._active,
.footer__right._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.footer__left {
  transition-delay: 0.5s;
}

.footer__right {
  transition-delay: 1s;
}

.book {
  background-color: #C3C3C3;
  padding-top: 150px;
  padding-bottom: 150px;
}
@media screen and (max-width: 700px) {
  .book {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.book__container {
  position: relative;
  max-width: 872px;
  margin: 0 auto;
  height: 682px;
}

.book__block {
  position: relative;
  z-index: 1;
}

.book__img-01 {
  position: absolute;
  width: 255px;
  top: 455px;
  left: 10px;
  z-index: 1;
}

.book__img-02 {
  position: absolute;
  top: 102px;
  left: 205px;
  max-width: 458px;
}
@media screen and (max-width: 700px) {
  .book__img-02 {
    left: 0px;
  }
}

.book__img-03 {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 305px;
}

.book__content {
  position: absolute;
  top: 361px;
  right: 0;
  z-index: 3;
  max-width: 273px;
}

.book__title {
  letter-spacing: 0.7px;
  margin-bottom: 32px;
}

.book__decor01 {
  position: absolute;
  top: 269px;
  left: -12px;
}

.book__decor02 {
  position: absolute;
  top: 170px;
  right: 125px;
}
@media screen and (max-width: 600px) {
  .book__decor02 {
    display: none;
  }
}

.book__img-01 {
  transform: translate(-150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .book__img-01 {
    transform: translate(150px, 0px);
  }
}

.book__img-02,
.book__content {
  transform: translate(0px, 50px);
  opacity: 0;
}

.book__img-03 {
  transform: translate(150px, 0px);
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .book__img-03 {
    transform: translate(-150px, 0px);
  }
}

.book__img-01._active,
.book__img-02._active,
.book__img-03._active,
.book__content._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.book__img01._active {
  transition-delay: 0.5s;
}

.book__img02._active {
  transition-delay: 1s;
}

.book__img03._active {
  transition-delay: 0.5s;
}

.book__content._active {
  transition-delay: 0.5s;
}

.footer {
  background-color: #DFCCC2;
  padding-top: 105px;
  padding-bottom: 100px;
}
@media screen and (max-width: 860.98px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 650px) {
  .footer__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
}

@media screen and (min-width: 850px) {
  .footer__left {
    display: flex;
    -moz-column-gap: 77px;
         column-gap: 77px;
    margin-left: 64px;
  }
}

@media screen and (max-width: 849.98px) {
  .footer__block {
    margin-bottom: 18px;
  }
}

.footer__link {
  display: block;
  font-size: inherit;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.4px;
  font-weight: 500;
}
.footer__link:not(:last-child) {
  margin-bottom: 18px;
}
@media screen and (min-width: 600px) {
  .footer__link:not(:last-child) {
    margin-bottom: 25px;
  }
}
.footer__link:hover, .footer__link:focus {
  color: #F95454;
}

@media screen and (min-width: 600px) {
  .footer__right {
    margin-right: 36px;
  }
}
@media screen and (min-width: 650px) {
  .footer__right {
    text-align: right;
  }
}

.footer__title {
  font-size: 30px;
  letter-spacing: -1.13px;
  margin-bottom: 16px;
}

.footer__button {
  font-size: 30px;
  letter-spacing: -1.13px;
}
@media screen and (min-width: 600px) {
  .footer__button {
    margin-right: 22px;
  }
}

.work__title {
  transform: translate(-150px, 0px);
  opacity: 0;
}

.work__text {
  transform: translate(150px, 0px);
  opacity: 0;
}

.work__title._active,
.work__text._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}

.work__title {
  transition-delay: 0.5s;
}

.work__text {
  transition-delay: 1s;
}

body {
  font-family: "Lexend Deca", system-ui;
  font-weight: 400;
  font-size: 16px;
  background-color: #DFCCC2;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}
@media screen and (max-width: 1280px) {
  .container {
    padding: 0 10px;
  }
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.title {
  font-family: "Lexend Deca", system-ui;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -1.5px;
  color: #ffffff;
}
@media screen and (max-width: 650px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 650px) {
  .title {
    font-size: 28px;
  }
}

.title__big {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -2.25px;
}
@media screen and (max-width: 768px) {
  .title__big {
    font-size: 50px;
  }
}
@media screen and (max-width: 568px) {
  .title__big {
    font-size: 40px;
  }
}

.title__medium {
  font-size: 40px;
  line-height: 1.2;
}
@media screen and (max-width: 1024px) {
  .title__medium {
    font-size: 36px;
  }
}

.title__small {
  font-size: 30px;
  letter-spacing: -1.13px;
}
@media screen and (max-width: 1024px) {
  .title__small {
    font-size: 16px;
  }
}

.text {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  color: #6E645F;
}

.scrollup {
  position: fixed;
  bottom: 50px;
  right: 35px;
  z-index: 20;
  width: 54px;
  height: 27px;
  transform: rotate(270deg);
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .scrollup {
    display: none;
  }
}

.button {
  position: relative;
  justify-self: end;
  padding-bottom: 7px;
  margin-right: 2px;
  letter-spacing: -0.4px;
}
.button span {
  position: relative;
  z-index: 2;
}
.button::after {
  content: "";
  position: absolute;
  top: 96%;
  left: -4px;
  height: 2px;
  width: 107%;
  background-color: #F95454;
  transition: all 0.3s;
}
@media screen and (max-width: 384.98px) {
  .button {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .button:hover::after {
    height: 100%;
    top: 0;
    color: #ffffff;
  }
  .button:hover span {
    color: #ffffff;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}/*# sourceMappingURL=main.css.map */