    $primary-color: #ffffff;
    $text-color: #6E645F;
    $accent-color: #F95454;

    $bg-color: #DFCCC2;
    $bg-color1: #C5CEBD;
    $bg-color2: #C3C3C3;

    $primary-font: "Lexend Deca", system-ui;
    $accent-font: "DM Sans", sans-serif;